body{
	padding-top: 70px;
	padding-bottom: 30px;
}
a{
	color: #82c1ff;
	transition: color 0.25s;
}
a:hover{
	color: #3f9efc;
}
@media (min-width: 931px){
	.navbar .container{
		width:970px;
		margin:auto;
	}
}
@media (max-width: 930px) {
	.navbar .container{
		width:auto;
	}
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none !important;
    }
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
	.main{
		width:100% !important;
		transition: width 1s;
	}
	.main *{
		transition: width 1s, background-color 1s, border 1s;
	}
	.main p{
		font-size:2vw;
	}
	.runtime{
		font-size: 4vw !important;
	}
}
.navbar-brand{
	color:#ff9e4f !important;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 36px;
	transition: color 0.5s;
}
.navbar-brand:hover{
	color:#ff7300 !important;
}
.navbar-nav li{
	margin-left: 25px;
}
.navbar-nav li a{
	color:#FFFFFF !important;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 24px;
	transition: text-shadow 0.5s;
}
.navbar-nav li a:hover{
	text-shadow: 0px 0px 5px #FFFFFF;
}
.active{
	text-shadow: 0px 0px 5px #FFFFFF;
}
.navbar-fixed-bottom .container{
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	width:100%;
}
.main{
	width: 50%;
	left: 50%;
	overflow: visible;
	height: auto;
	transition: width 1s;
}
.main *{
	transition: width 1s;
}
.description{
	font-family: Georgia, serif;
	font-size: 16px;
}
.index-logo{
	max-width:100%;
	margin-top:10%;
}
.runtime{
	font-size: 2vw;
	font-family: Georgia, serif;
	color: #ff9e4f;
	text-shadow: -1px 1px 1px black;
}
.hook-line{
	font-size: 1.5vw;
}
.learn{
	transition: background-color 1s, border 1s;
	font-size:1vw;
}
.sponsor-list{
	margin-top: 50px;
}
.sponsor-holder{
	width: 100% !important;
}
.image-holder{
	width:50%;
	display:inline-block;
}
.image-holder a img{
	max-width:100%;
}
.text-holder{
	width:45%;
	display:inline-block;
	height:100% !important;
	float:right;
	font-family: Georgia, serif;
	font-size:18px;
}