#content {
    height: 100%;
    position: relative;
}

body, html {
    height: 100%;
}

#main {
    margin-top: 20px;
}

.navbar {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.inform-btn {
    width: 50%;
    left: 25%;
    position: relative;
}

.footer {
    margin-top: 5px;
    border-radius: 0 !important;
}
