html {
    min-height: 100vh;
    position: relative;
}

body {
    height: 100vh;
    position: relative;
}

#main {
    margin-top: 90px;
    margin-bottom: 74px;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.navbar {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.inform-btn {
    width: 50%;
    left: 25%;
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 54px;
    line-height: 54px;
}

#editor {
    overflow: hidden;
    text-align: left;
}

#editor .btn {
    width: 30%;
}

#editor .btn:first{
    float: left;
}

#editor .btn:last-of-type{
    float:right;
}

#jumbo-pages-content {
    height: 100%;
}

.list-group {
    height: 100%;
    overflow: auto;
}

.list-group-item:focus {
    background-color: #375a7f !important;
    border-color: #375a7f;
}

.CodeMirror {
    text-align: left !important;
    height: 100%;
    max-height: calc(100% - 60px);
}

#jumbo-pages-content .row {
    height: calc(100% - 3rem);
}

#newpage, #newcat, #newchall {
    background-color: #3498DB !important;
}

#pages .page-selector:last-child, #categories .cat-selector:last-child {
    border-radius: 0;
}

#challenge-desc {
    min-height: 36px;
    max-height: 120px;
}

#newchallform {
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

#newchallform .col-auto {
    width: 100%;
}